fastapi
uvicorn[standard]
pydantic
python-dotenv
torch --index-url https://download.pytorch.org/whl/cpu
huggingface_hub
langchain
langchain-community
sentence-transformers
chromadb
transformers
PyMuPDF
redis
requests
httpx
pandas
openpyxl
google-search-results
python-docx
python-multipart